*build/
compile_commands.json
CMakeSettings.json
.cache
.ycm_extra_conf.py
.tasks
.vimspector.json
.vscode/
.vscode
.idea/
cmake-build-debug/
cmake-build-release/
cscope.out
cscope.files
.DS_Store
debug/
build/
release/
target/
debs/
rpms/
mac/
*.pyc
.mypy_cache
*.tmp
*.swp
*.swo
*.orig


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/
